ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    overflow: hidden;

}
li{
    float: left;
}
li a{
    padding: 15px;
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
li a:hover{
    background-color: red;
}
